/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/* Base Styles */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

html {

  min-height: 100%;
  height: auto;
}

body  {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 1rem;
  line-height: 160%;
  color: #555459;
  line-height: 1.5rem;
  *zoom: 1;
}
option{
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}

.card {
  background: white;
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 40px;
  text-align: center;
  position: relative;
  opacity: .95;
  border-radius: 4px;
  /*border: 1px solid #e8e8e8;*/

}

@media all and (max-width: 400px) {
  main {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  font-weight: 100;
  text-shadow: 1px 1px rgb(255,255,255);
}

a {
  color: #2D8BCF;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}

header {
  margin-bottom: 20px;
}

h1{
  font-size: 2.2rem;
  /*font-weight: 400;*/
  line-height: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  /*font-weight: 700;*/
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  margin: 0 0 1rem;
  text-transform: uppercase;
}

h2{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 90%;
  margin-bottom: 5px;
  margin-top: 10px;
}

h3{
  margin-top: 0;
  line-height: 110%;
  margin-bottom: 5px;
}

p {
}

a.small {
  line-height: 100%;
  font-size: .9rem;
}

/* Form Styles */

input {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 15px 0;
  font-size: 1rem;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
}

input[type=radio] {
  width: auto;
}


.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 18px 50px;
  margin-top:50px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 100px;
  background: #F36;
    border-radius: 100px;
    height: 50px;
    line-height: 50px;
    padding: 0 60px;
    color: #FFF;
    -webkit-transition: box-shadow .2s ease,border .2s ease;
    transition: box-shadow .2s ease,border .2s ease;
;
  color: white;
  background-color:  #F36;
  background-size: 18px 18px;
  min-width: 28px;
  min-height: 28px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-transform: uppercase;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}


.btn .btn-left { float: left; }
.btn .btn-right { float: right; }
.btn:hover { background-color: #ed2d5d; }

.btn-checkin { background-color: #859835;}
.btn-delete { background-color: #C94C24;}


.btn-pick {
  background: #ed2d5d ;
  background-size: 20px 20px;
  padding: 5px 5px 5px 30px;
  font-size: .8em;
  margin: 0 auto;
}

.btn-reset {
  background: #CB4B19;
  background-size: 20px 20px;
  padding: 5px 5px 5px 50px;
}
.btn:active {
    background-color: #ed2d5d;

    transform: translateY(2px);
}

/*buttons*/

fieldset {
  margin: 10px 0;
}


.search {
  background: #F5F5F5;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px 30px;
  border-radius: 4px;
  text-align: left;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}

.search h2 {
  color: #124E61;
  margin-bottom: 10px;
}

.search select {
  font-size: 1rem;
  padding: 10px 0 10px 15px;
  color: #475B62;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(0,0,0,0.3);
}

.search input[type="text"] {
  margin-bottom: 10px;
}

.search input[type="checkbox"] {
  display: inline;
  background-color: #ddd;
  border: 1px solid #C5C5C5;
  display: inline-block;
  margin-right: 15px;
  -webkit-appearance: none;
}

.search label {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  color: #576E75;
}

.search .formgroup {
  float: left;
  width: 33%;
}

.search .buttons {
  display: block;
  width: 33%;
  float: right;
  text-align: right;
}

@media all and (max-width: 700px) {
  .search .formgroup {
    width: 50%;
  }

  .search .buttons {
    width: 100%;
    float: right;
  }
}

@media all and (max-width: 550px) {
  .search .formgroup {
    width: 100%;
  }
}

/* user List Styles */

.userlist {
  width: 100%;
  margin: 0 auto;
  opacity: .95;
  z-index: 10;
  margin-top: 20px;
}

.userlist ul {
  margin: 0;
  padding: 0;
}

.userlist li {
  width: 50%;
  float: left;
  padding: 12px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: 1px solid transparent;
}

.userlist li:hover {
  border: 1px solid #C5C5C5;
  border-radius: 4px;
}

.userlist li.expanded {
  width: 100%;
}

.userlist li.expanded form {
  width: 100%;
  padding: 10px 0;
}

.userlist li.expanded form input {
  width: 80%;
}


.userlist li.expanded .btn-love {
  background-color: #C61C6F;
}

.userlist .buttons {
  display: block;
  float: left;
  text-align: left;
  margin-right: 5px;
}

.userlist .info {
  display: block;
  float: left;
  text-align: left;
}

@media all and (max-width: 600px) {
  .userlist li {
    width: 100%;
  }

  .userlist  .info  {
    width: 70%;
  }
}

ul.awardslist {
  margin-top:5px;
}

ul.awardslist li {
  width: auto;
  padding: 5px 5px 0 10px;
  margin: 2px;
  background-color: #797979;
  color: white;
  font-weight: normal;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}

ul.awardslist li:hover {
  background-color: #F5974E;
}

ul.awardslist li .btn-delete {
  background-color: transparent;
  background-size: 15px 15px;
  background-position: center 40%;
  margin:0;
  border: none;
}

ul.awardslist li .award {
  padding-right: 15px;
}

nav {
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.branding {
  float: left;
  margin: 20px;
}

.branding a {
  width: 80%;
  font-size: 1.6em;
  text-align: left;
  color: #1B7998;
  text-decoration: none;
  text-align: left;
}




nav ul {
  width: 60%;
  float: right;
}

nav ul li {
  float: right;
  color: #145266;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  margin: 10px 0;
  font-size: 1.1em;
}

nav ul li.user {
  background-color: #D24244;
  color: #EFC94C;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}

nav ul li.user.hello {
  margin-left: 60px;
  padding: 10px 15px;
}

nav ul li a {
  float: left;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
}

nav li a:hover {
  color: #E76C5A;
}

.userinfo {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  padding-bottom: 5px;
}

.userinfo a {
  color: #2D8BCF;
}

.userinfo input {
  width: auto;
}

.addmeeting {
  width:100%;
}

.addmeeting .inputwrapper {
  margin-right:80px;
}

.addmeeting .inputwrapper input {
  float: left;
  width: 100%;
}

.addmeeting button {
  width: 60px;
  margin-left: 20px;
  vertical-align: center;
}

.meetings {
  padding-top: 10px;
}

.meetings h2 {
  padding-bottom: 5px;
}

.meetings .meeting {
  display: inline-block;
  padding: 10px 20px 10px 15px;
  margin: 3px 10px;
  border-radius: 4px;
  border: 1px solid #C5C5C5;


}

.meetings .meeting .btn {
  margin-right: 4px;
  padding: 1px 8px;
}

.meetings .meeting .text {
  display: inline-block;
  vertical-align: bottom;
}

.meetings .meeting .text a{
  text-decoration: none;
}

.tooltip {
  position: relative;
}

.tooltip span {
  background: #FFF;
  color: #000;
  font-size: .8em;
  bottom: 100%;
  display: block;
  left: -20px;
  opacity: 0;
  padding: 2px 13px;
  margin-bottom: 5px;
  pointer-events: none;
  position: absolute;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #C5C5C5;
  -webkit-transform: translateY(25px);
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -o-transform: translateY(25px);
  transform: translateY(25px);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.tooltip:hover span {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.checkinslist { margin-top: 20px; }
.checkinslist h1 { color: #2D8BCF; }
.checkin h2 {
  margin: 0;
  padding: 0;
}
.checkin .btn {
  padding: 0;
  margin: 0 3px;
}

.checkinslist h3 { color: #657B83; }

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

.ng-invalid .btn {
  background: gray;
}

.error {
  color: red;
  padding-bottom: 10px;
}


.page{
  margin: 5%;
}


/*---------------*/

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.three {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.four {
  -webkit-animation-delay: 3.3s;
  -moz-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}



/*-------------------------------------------------*/

h1 {
  text-align: center;
}
/* Reset Select */
select {
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #C5C5C5;
  background: #2c3e50;
  color: #475B62;
  background-image: none;
}
/* Custom Select */
.select {
    position: relative;
    display: block;
    height: 3em;
    line-height: 3;
    margin-top: 15px;
    background: white;
    overflow: hidden;
    border-radius: .25em;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 1rem;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #505050;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */

.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/*---------------radio------------------*/
/*---------------radio------------------*/

/*------------∞
|  reset.css  |
∞------------*/
/* ∞∞ postcss ∞∞ */

/* ∞∞ font ∞∞ */
@import url(https://fonts.googleapis.com/css?family=Lato:300,900);
body {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}
/* ∞∞ global ∞∞ */
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: inherit;
}


.genderRadio{
  margin-top: 200px;
}

/* radio */
fieldset {
  width: 100%;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] +label {
  color: #505050;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 20px;
  padding-right: 20px;
}

input[type="radio"] +label::before {
  transition: all 250ms cubic-bezier(.4,.25,.3,1);
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #505050;;
  border: 0px solid #505050;;
  font-size: 0;
  position: absolute;
  bottom: 200%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

input[type="radio"] +label::after {
  transition: all 250ms cubic-bezier(.4,.25,.3,1);
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #505050;;
  position: absolute;
  bottom: 200%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

input[type="radio"]:checked + label::before {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-width: 2px;
}

input[type="radio"]:checked + label::after {
  width: 20px;
  height: 20px;

}


/* input */
section.input-container label {
  position: relative;
  display: block;
}
section.input-container label input {
  display: block;
  padding: 20px;
  width: 300px;
  margin-bottom: 10px;
  outline: none;
  transition: all 0.2s ease-in-out;
  background-color: #505050;;
  font-weight: bold;
  color: #FF7975;
}
section.input-container label input::-webkit-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #505050;
  font-weight: bold;
}
section.input-container label input:-ms-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #505050;
  font-weight: bold;
}
section.input-container label input::-ms-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #505050;
  font-weight: bold;
}
section.input-container label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #505050;
  font-weight: bold;
}
section.input-container label input:focus, section.input-container label input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}
section.input-container label input:focus::-webkit-input-placeholder, section.input-container label input.populated::-webkit-input-placeholder {
  color: transparent;
}
section.input-container label input:focus:-ms-input-placeholder, section.input-container label input.populated:-ms-input-placeholder {
  color: transparent;
}
section.input-container label input:focus::-ms-input-placeholder, section.input-container label input.populated::-ms-input-placeholder {
  color: transparent;
}
section.input-container label input:focus::placeholder, section.input-container label input.populated::placeholder {
  color: transparent;
}
section.input-container label input:focus + span, section.input-container label input.populated + span {
  opacity: 1;
  top: 10px;
}


.genderRadio{
  margin-top: 60px;
  margin-bottom: 20px;
}


a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

