<section class="card loginPassword animate fadeInDown">
    <form name="myform"
          ng-submit="registerpassword()"
          novalidate>

        <div class="textintro">
            <h1>Choose Password</h1>
        </div>

        <fieldset>
            <input type="password" name="password" placeholder="Enter password"
                   ng-model="user.password" ng-required="true">
        </fieldset>
        <button type="submit"  class="btn" ng-disabled="myform.$invalid">Sign-in</button>

    </form>
</section>
